/* MAIN STYLES */
/*
* Small screens (default)
* Medium screens (640px = 40rem)
* Large screens (1024px = 64rem)
*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 2em;
  vertical-align: top;
}

ul {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Neuton", serif;
}

header {
  background-color: black;
  color: white;
}
header nav li {
  list-style: none;
  display: inline;
  margin-right: 20px;
  line-height: 2em;
}
header nav li:last-child {
  margin-right: 0px;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: white;
}

section {
  min-height: 100%;
  text-align: center;
  padding-top: 50px;
}

section:nth-child(1) {
  background: lightblue;
}

section:nth-child(2) {
  background-color: lightblue;
}
section:nth-child(2) h2 {
  color: white;
}

section:nth-child(3) {
  background: yellow;
}

section:nth-child(4) {
  background: lightblue;
}

section:nth-child(5) {
  background: purple;
}

.project {
  position: relative;
}
.project h3, .project p {
  width: 300px;
  top: 150px;
  text-align: center;
  color: white;
  position: absolute;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-list li {
  display: inline;
  margin: 5px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 16px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

p {
  font-size: 20px;
  margin-bottom: 100px;
}
