/* MAIN STYLES */

/*
* Small screens (default)
* Medium screens (640px = 40rem)
* Large screens (1024px = 64rem)
*/

$background-color: #51a7b6;
$font-neutron: 'Neuton', serif;
$font-montserrat: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
$header-size:3.5rem;

html { font-size: 100%; }
@media (min-width: 40rem) {
	html { font-size: 112%; }}
@media (min-width: 64rem) {
	html { font-size: 120%; }}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-montserrat;
	font-weight: 700;
	margin: 0;
}

a {
	text-decoration: none;
	color: white;
}

p {
	font-family: $font-neutron;
	font-size: 20px;
}

/* HEADER */

header{
	width: 100%;
	position: fixed;
	z-index: 1030;
	line-height: $header-size;
	
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	
	.logo {
		display: block;
		float: left;
		text-transform: uppercase;
		letter-spacing: -3px;
	}

	#toggle-nav, nav {
		display: block;
		float: right;
	}

	#toggle-nav {
		font-size: 1.5rem;
		cursor: pointer;
	}

	nav.nav-closed {
		display: none;
	}

	nav.nav-open {
		display: block;
	}

	nav {
		width: 100%;
		font-family: $font-montserrat;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				border-top: solid gray 1px;
				//text-align: center;	
				//text-transform: uppercase;	

				a {
					padding: 10px 0;
					display: block;
					width: 100%;
					line-height: $header-size/1.5;
				}
			}

			li:hover {
				background-color: rgba(0,0,0, 0.4);
			}
		}
	}
}

@media (min-width: 40rem) {

	header {

		#toggle-nav {
			display: none;
		}

		nav.nav-closed {
			display: block;
		}

		nav {
			width: auto;

			ul li{
				border: 0;
				display: inline-block;
				margin-right: 1.2rem;

				a {
					padding:0;
				}
			}

			ul li:last-child {
				margin-right: 0;
			}
		}
	}
}


/* SECTIONS */

section {
	text-align: center;
	padding: $header-size+1rem 0;
}

/* HOME */

#home {
	background-color: #000;
	background: url(../img/test8.JPG) no-repeat fixed;
	background-position: center bottom;
	
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	font-size: 150%;
	color: white;

	padding: 12.5rem 0;
	height: 100%;

	div#filter {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 150, 225, 0.4);
	}

	div#caption {
		position: relative;
	}
}


/* ABOUT */

#about {
	background-color: #fff;
}

.btn {
	position: relative;
	cursor: pointer;
	font-family: $font-montserrat;
	color: #ffffff;
	font-size: 16px;
	background: #3498db;
	padding: 10px 20px 10px 20px;
	border-bottom: solid #1f628d 4px;
	text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
}

.btn:active {
	top: 2px;
	border-bottom: solid #1f628d 2px;
}

/* PAUSE */

#pause-work {
	min-height: 500px;
	background-color: #000;
	background: url(../img/test3.jpg) no-repeat fixed;
	
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

/* PROJECTS */

#projects {
	background-color: #ffffff;
}

.project {
	cursor: pointer;

	img {
		width: 100%;
		height: auto;
		display: block;
	}

	.overlay {
		visibility: hidden;
		position: absolute;
		width: 100%;
		height: 100%;

		background-color: rgba(0,150,225,0.5);
		z-index: 100;

		.caption {
			position: absolute;
			width: 100%;
			bottom: 0;
			padding: 1.5rem;
			color: white;
			text-align: left;

			p {
				margin: 0;
			}
		}
	}
}

.project:hover {
	img {
		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-o-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
	}
	.overlay {
		visibility: visible;
	}
}

/* PAUSE */

#pause-hobbies {
	min-height: 300px;
	background-color: #000;
	background: url(../img/test5.jpg) no-repeat fixed;
	
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

/* CONTACT */

#contact {
	min-height: 500px;
	background-color: #fff;
}

.circular {
	margin: 6rem auto;
	width: 9.375rem;
	height: 9.375rem;
	border-radius: 4.6875rem;
	-webkit-border-radius: 4.6875rem;
	-moz-border-radius: 4.6875rem;
	background: url('../img/test6.jpg') no-repeat 50% 50% scroll;
	background-size: cover;
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline;
        margin: 5px;
    }

    a {
    	color: #69D2E7;
    }

    a:hover {
    	color: #A7DBD8;
    }
}

/* FOOTER */

footer p {
	text-align: center;
	font-size: 80%;
}



