/* MAIN STYLES */

/*
* Small screens (default)
* Medium screens (640px = 40rem)
* Large screens (1024px = 64rem)
*/


@font-face {
    font-family: 'montserratbold';
    src: url('/fonts/montserrat-bold-webfont.eot');
    src: url('/fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('/fonts/montserrat-bold-webfont.woff') format('woff'),
         url('/fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('/fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neutonregular';
    src: url('/fonts/neuton-regular-webfont.eot');
    src: url('/fonts/neuton-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/neuton-regular-webfont.woff2') format('woff2'),
         url('/fonts/neuton-regular-webfont.woff') format('woff'),
         url('/fonts/neuton-regular-webfont.ttf') format('truetype'),
         url('/fonts/neuton-regular-webfont.svg#neutonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//SOLVE CHROME RENDERING ISSUE
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
      font-family: 'montserratbold';
      src: url('/fonts/montserrat-bold-webfont.svg') format('svg');
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
      font-family: 'neutonregular';
      src: url('/fonts/neuton-regular-webfont.svg') format('svg');
  }
}


$filter-color: rgba(0, 150, 225, 0.6);
$font-neutron: 'neutonregular', serif;
$font-montserrat: 'montserratbold',"Helvetica Neue",Helvetica,Arial,sans-serif;
$header-size:3.5rem;
$header-background: rgba(0, 0, 0, 0.8);


html { font-size: 100%; }
@media (min-width: 40rem) {
	html { font-size: 112%; }}
@media (min-width: 64rem) {
	html { font-size: 120%; }}


html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/* TEXT */

h1, h2, h3, h4, h5, h6 {
	font-family: $font-montserrat;
	font-weight: 700;
	margin: 0;
}

h2 {
	margin-bottom: 1rem;
}

p {
	font-family: $font-neutron;
	font-size: 1.15rem;
}

/* LINKS */

a {
	color: rgb(0,150,225);
	//color: #69D2E7;
}

a:hover {
	color: white;
	background-color: rgb(0,150,225);
}

a.inverse {
	color: white;
}

a.inverse:hover {
	color: rgb(0,150,225);
	background-color: white;
}

a.button {
	display: block;
	width: 50%;
	max-width: 15rem;
	margin: 0 auto;
	padding: 0.5rem 1rem;
	
	font-family: $font-montserrat;
	font-size: 0.8rem;
	text-transform: uppercase;
	text-decoration: none;
	
	color: rgb(0,150,225);
	border: solid 2px rgb(0,150,225);
}

a.button:hover {
	color: white;
	background-color: rgb(0,150,225);
}

a.button.inverse {
	color: white;
	border: solid 2px white;
}

a.button.inverse:hover {
	color: rgb(0,150,225);
	background-color: white;
}


/* HEADER */

header{
	width: 100%;
	position: fixed;
	z-index: 1030;
	line-height: $header-size;
	
	background-color: black;
	color: white;
	font-size: 0.8rem;

	-webkit-transition: all 1s;
    transition: all 1s;

    a {
    	text-decoration: none;
    	color: white;
    }

    a:hover {
    	color: white;
    }

	#logo {
		display: block;
		float: left;
		text-transform: uppercase;
		letter-spacing: -3px;
	}

	#toggle-nav, nav {
		display: block;
		float: right;
	}

	#toggle-nav {
		font-size: 1.5rem;
		cursor: pointer;
	}

	nav.nav-closed {
		display: none;
	}

	nav.nav-open {
		display: block;
	}

	nav {
		width: 100%;
		font-family: $font-montserrat;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				border-top: solid gray 1px;
				text-transform: uppercase;	

				a {
					text-align: center;
					padding: 10px 0;
					display: block;
					width: 100%;
					line-height: $header-size/1.5;
				}
			}

			li:hover, li.active {
				background-color: rgba(255,255,255, 0.3);
			}
		}
	}
}

@media (min-width: 40rem) {

	.solid {
		background-color: $header-background;
	}

	header {
		background: 0 0;

		#logo:hover {
			color: white;
			background: 0;
		}

		#logo {
			display: block;
			float: left;
			text-transform: uppercase;
			letter-spacing: -3px;

			-webkit-transition: all 0.1s;
    		transition: all 0.1s;
		}

		#toggle-nav {
			display: none;
		}

		nav.nav-closed {
			display: block;
		}

		nav {
			width: auto;

			ul li{
				border: 0;
				display: inline-block;
				margin-right: 0.5rem;

				a {
					padding: 0 0.5rem;
					border: 2px solid rgba(255,255,255,0);
				}
			}

			ul li:last-child {
				margin-right: 0;
			}

			ul li:hover, ul li.active {
				background: 0 0;

				a {
					background: 0;
					color: white;
					border: 2px solid #fff;
				}
			}
		}
	}
}


/* SECTIONS */

section {
	display: table;
	width: 100%;
	text-align: center;
	padding: $header-size+1rem 0;

	.wrapper {
		display: table-cell;
		vertical-align: middle;
	}
}

/* HOME */

#home {
	background-color: #000;
	background: url(../img/home_bg.jpg) no-repeat fixed;
	background-position: 25% 75%;
	
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	font-size: 150%;
	color: white;

	height: 100%;

	div.filter {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $filter-color;
	}

	div#caption {
		position: relative;

		a {
			margin-top: 2rem;
		}
	}
}

/* WORK */

#work {
	background-color: #ffffff;
}

.project {

	transition: opacity .2s ease-in;

	//padding-top: 2rem;
	//padding-bottom: 2rem;
	//border-bottom: 1px solid #f1f1f1;

	padding: 0;
	border-bottom: 0;
	overflow: hidden;

	.content {
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;
		z-index: 20;

		color: white;

		transform: scale(1.3) translate(-50%, -50%);
		transform-origin: 0 0;
		transition: transform 0.35s, opacity 0.35s, visibility 0.35s;

		p.description {
			font-size: 120%;
		}

		p.technologies {
			font-size: 0.9rem;
			font-style: italic;
		}

		a.button {
			display: inline-block;
			width: 47.5%;
			color: white;
			border: solid 2px white;
			margin-right: 0.1rem;
		}

		a.button:last-child {
			margin-right: 0;
		}

		a.button:hover {
			color: rgba(0,150,225,0.7);
			background-color: white;
		}
	}

	img {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		display: block;
	}

	.bg {
		opacity: 0;
		position: absolute;
		top: 0;
		background-color: rgba(0,150,225,0.8);
		width: 100%;
		height: 100%;
		z-index: 10;
		transition: opacity 0.35s, visibility 0.35s;
	}

	.content, .bg {
		visibility: hidden;
	}

}

@media (min-width: 40rem) {
	.project {
		.content {
			p.description {
				font-size: 1rem;
			}
		}
	}
}

.project:hover, .project:active {

	.content, .bg {
		visibility: visible;
	}

	.content {
		opacity: 1;
		transform: scale(1) translate(-50%, -50%);
	}

	.bg {
		opacity: 1;
	}
}


/* ABOUT */

#about {
	position: relative;
	color: white;
	background: url(../img/about_bg.jpg) no-repeat fixed;
	background-position: 50% 0%;

	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	div.about-filter {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $filter-color;
	}

	div.description {
		margin-bottom: 2.5rem;
	}
}

.circular {
	margin: 0 auto 1rem auto;
	width: 6rem;
	height: 6rem;
	border-radius: 3rem;
	-webkit-border-radius: 3rem;
	-moz-border-radius: 3rem;
	background: url('../img/face.jpg') no-repeat 50% 40% scroll;
	background-size: cover;
}

/* CONTACT */

#contact {
	height: 95%;
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
}

@media (min-width: 64rem) {
	#contact {
		width: 55%;
	}
}



.social-list {
    list-style: none;
    margin: 0;
    padding: 0;

    font-size: 1.5rem;

    li {
        display: inline-block;
        //margin: 5px;

        span {
        	display: none;
        }

        a {
        	width: 3rem;
        	padding: 0.5rem 0;
        	display: block;
        }
    }
}

/* FOOTER */

footer p {
	height: 5%;
	text-align: center;
	font-size: 80%;
}


/*
#teste {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 300px;
	position: fixed;
	
	color: rgba(0,0,0,0.3);
}
*/


/* ERROR */
#error {
	background-color: #000;
	background: url(../img/rain.gif) no-repeat fixed;
	background-position: 50% 75%;
	
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	font-size: 150%;
	color: white;

	height: 100%;

	div.filter {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $filter-color;
	}

	div#caption {
		position: relative;
		width: 100%;

		a {
			margin-top: 2rem;
		}
	}	
}

@media (min-width: 64rem) {
	#error {
		div#caption {
			margin: 0 auto;
			width: 70%;
		}
	}
}
