/* MAIN STYLES */
/*
* Small screens (default)
* Medium screens (640px = 40rem)
* Large screens (1024px = 64rem)
*/
html {
  font-size: 100%;
}

@media (min-width: 40rem) {
  html {
    font-size: 112%;
  }
}
@media (min-width: 64rem) {
  html {
    font-size: 120%;
  }
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

p {
  text-align: justify;
  font-family: "Neuton", serif;
  font-size: 20px;
}

section {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

section:nth-of-type(1) {
  min-height: 100%;
  background-color: #000;
  background: url(../img/test8.JPG) no-repeat fixed;
  background-position: 100% 80%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-size: 150%;
  color: white;
  padding-top: 20%;
}

section:nth-of-type(2) {
  background-color: #fff;
}

section:nth-of-type(3) {
  min-height: 500px;
  background-color: #000;
  background: url(../img/test3.jpg) no-repeat fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);*/
}

section:nth-of-type(4) {
  background-color: white;
}

section:nth-of-type(5) {
  min-height: 300px;
  background-color: #000;
  background: url(../img/test5.jpg) no-repeat fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

section:nth-of-type(6) {
  min-height: 500px;
  background-color: #fff;
}

footer {
  text-align: center;
  font-size: 80%;
}

.section-title {
  margin-bottom: 30px;
}

header {
  position: fixed;
  top: 0;
  z-index: 1030;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 0;
}
header .logo {
  float: left;
  line-height: 2.5rem;
  text-transform: uppercase;
  letter-spacing: -3px;
}
header nav {
  float: right;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav ul li {
  list-style: none;
  display: inline;
  margin-right: 20px;
  line-height: 2.5rem;
}
header nav ul li:last-child {
  margin-right: 0;
}

.btn {
  position: relative;
  cursor: pointer;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  border-bottom: solid #1f628d 4px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.btn:active {
  top: 2px;
  border-bottom: solid #1f628d 2px;
}

.project {
  cursor: pointer;
  height: 347px;
  overflow: hidden;
}
.project .overlay {
  visibility: hidden;
  background-color: rgba(0, 150, 225, 0.5);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 1000;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.project .overlay .caption {
  padding: 1.5rem;
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.project .overlay .caption h3 {
  text-align: left;
}
.project .overlay .caption p {
  margin: 0;
}
.project img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.project:hover img {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.project:hover .overlay {
  visibility: visible;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-list li {
  display: inline;
  margin: 5px;
}
.social-list a {
  color: #69D2E7;
}
.social-list a:hover {
  color: #A7DBD8;
}

.circular {
  margin: 20px auto 50px auto;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  background: url("../img/test6.jpg") no-repeat 50% 50% scroll;
  background-size: cover;
}
