/* MAIN STYLES */

/*
* Small screens (default)
* Medium screens (640px = 40rem)
* Large screens (1024px = 64rem)
*/

$filter-color: rgba(0, 150, 225, 0.6);
$font-neutron: 'Neuton', serif;
$font-montserrat: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
$header-size:3.5rem;
$header-background: rgba(0, 0, 0, 0.8);

//Color Pallette
$color-one: red;
$color-two: blue;
$color-three: yellow;
$color-four: orange;
$color-five: violet;


html { font-size: 100%; }
@media (min-width: 40rem) {
	html { font-size: 112%; }}
@media (min-width: 64rem) {
	html { font-size: 120%; }}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-montserrat;
	font-weight: 700;
	margin: 0;
}

h2 {
	margin-bottom: 1rem;
}

a {
	color: #69D2E7;
}

header a, #home a, #work a{
	text-decoration: none;
	color: #fff;
}

p {
	font-family: $font-neutron;
	font-size: 1.1rem;
}

/* HEADER */

header{
	width: 100%;
	position: fixed;
	z-index: 1030;
	line-height: $header-size;
	
	background-color: $header-background;
	color: white;
	font-size: 0.8rem;

	-webkit-transition: all 1s;
    transition: all 1s;

	#logo {
		display: block;
		float: left;
		text-transform: uppercase;
		letter-spacing: -3px;
	}

	#toggle-nav, nav {
		display: block;
		float: right;
	}

	#toggle-nav {
		font-size: 1.5rem;
		cursor: pointer;
	}

	nav.nav-closed {
		display: none;
	}

	nav.nav-open {
		display: block;
	}

	nav {
		width: 100%;
		font-family: $font-montserrat;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				border-top: solid gray 1px;
				//text-align: center;	
				text-transform: uppercase;	

				a {
					padding: 10px 0;
					display: block;
					width: 100%;
					line-height: $header-size/1.5;
				}
			}

			li:hover {
				background-color: rgba(255,255,255, 0.3);
			}
		}
	}
}

@media (min-width: 40rem) {

	.solid {
		background-color: $header-background;
	}

	header {
		background: 0 0;

		#logo:hover {
			//TODO
		}

		#logo {
			display: block;
			float: left;
			text-transform: uppercase;
			letter-spacing: -3px;

			-webkit-transition: all 0.1s;
    		transition: all 0.1s;
		}

		#toggle-nav {
			display: none;
		}

		nav.nav-closed {
			display: block;
		}

		nav {
			width: auto;

			ul li{
				border: 0;
				display: inline-block;
				margin-right: 1.2rem;

				a {
					padding:0;
				}
			}

			ul li:last-child {
				margin-right: 0;
			}

			ul li:hover, ul li:active {
				background: 0 0;

				a {
					line-height: 1.5rem;
					border-bottom: 3px solid #fff;
				}
			}
		}
	}
}


/* SECTIONS */

section {
	display: table;
	width: 100%;
	text-align: center;
	padding: $header-size+1rem 0;

	.wrapper {
		display: table-cell;
		vertical-align: middle;
	}
}


/* HOME */

#home {
	background-color: #000;
	background: url(../img/test8.JPG) no-repeat fixed;
	background-position: 50% 75%;
	
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	font-size: 150%;
	color: white;

	height: 100%;

	div.filter {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $filter-color;
	}

	div#caption {
		position: relative;
	}
}


/* ABOUT */

#about {
	position: relative;
	color: white;
	background: url(../img/test3.jpg) no-repeat fixed;

	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	div.about-filter {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $filter-color;
	}
}

.circular {
	margin: 0 auto 1rem auto;
	width: 6rem;
	height: 6rem;
	border-radius: 3rem;
	-webkit-border-radius: 3rem;
	-moz-border-radius: 3rem;
	background: url('../img/test10.JPG') no-repeat 50% 40% scroll;
	background-size: cover;
}

.btn {
	position: relative;
	cursor: pointer;
	font-family: $font-montserrat;
	color: #ffffff;
	font-size: 16px;
	background: #3498db;
	padding: 10px 20px 10px 20px;
	border-bottom: solid #1f628d 4px;
	text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
}

.btn:active {
	top: 2px;
	border-bottom: solid #1f628d 2px;
}

/* PAUSE */

#pause-work {
	min-height: 500px;
	background-color: #000;
	background: url(../img/test3.jpg) no-repeat fixed;
	
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

/* WORK */

#work {
	background-color: #ffffff;
}

.project {
	cursor: pointer;

	img {
		width: 100%;
		height: auto;
		display: block;
	}

	.overlay {
		visibility: hidden;
		position: absolute;
		width: 100%;
		height: 100%;

		background-color: rgba(0,150,225,0.7);
		z-index: 100;

		.caption {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			padding: 1.5rem;
			color: white;
			text-align: center;

			p {
				margin-bottom: 20px;
			}

			a {
				font: $font-neutron;
				margin-top: 10px;
				border: solid 2px white;
				padding: 7px 15px;
			}
		}
	}
}

.project:hover {
	.overlay {
		visibility: visible;
	}
}

/* PAUSE */

#pause-hobbies {
	min-height: 300px;
	background-color: #000;
	background: url(../img/test5.jpg) no-repeat fixed;
	
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

/* CONTACT */

#contact {
	height: 95%;
	background-color: #fff;
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;

    font-size: 0.8rem;

    li {
        display: inline;
        margin: 5px;
    }

    a {
    	color: #69D2E7;
    }

    a:hover {
    	color: #A7DBD8;
    }
}

/* FOOTER */

footer p {
	height: 5%;
	text-align: center;
	font-size: 80%;
}



/* TODO
#teste {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 300px;
	position: fixed;
	
	color: rgba(0,0,0,0.3);
} */
